body {
  font-family: "Open Sans", sans-serif !important;
  background: #0c0b09 !important;
  color: #ffff;
}

a {
  text-decoration: none !important;
  color: #cda45e;
}

a:hover {
  color: #d9ba85;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

body::-webkit-scrollbar {
  display: none;
}

section {
  padding: 60px 0px;
  overflow: hidden;
  
}
.section-bg {
  background-color: #1a1814;
}
